@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root {
    --primary: rgb(0, 0, 0);
    --secondary: white;
    --alternative: hsla(100, 13%, 28%, 0.7);
    --bgHeaderFooter: rgb(79, 100, 95);
    --awesome: darkolivegreen;
    --bgCAbout: #56744e;
    --mainBox-shadow: .2rem .2rem .1rem .2rem rgba(105, 96, 96, 0.75);
    --card-box-shadow: .5vw .5vw 1vw rgba(90, 115, 132, 0.9);
    --text-shadow: .3rem .3rem .4rem rgba(78, 107, 91, 0.5);
    --mainBg: hsla(145, 83%, 20%, 0.39);
}

body {
    font-family: "Italiana", sans-serif;
    padding-block: 1rem;
    text-align: center;
}

#about {
    position: relative;
    height: 100vh;
}

#bg-opacity {
    position: absolute;
    background: rgb(93, 90, 90) url("") no-repeat center 30%;
    background-size: cover;
    /* inset is the shorthand for left, right, top and bottom */
    inset: 0;
    opacity: .3;
    z-index: -1;
}

#about-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 50%;
    margin-inline: auto;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: var(--mainBox-shadow);
    border-radius: 2rem;

}